h1{
    font-family: 'Limelight', cursive;
    text-decoration: whitesmoke;
    text-align: center;
    font-size: 45px;
}
h2 {
    text-align: center;
}
body{
    background-image: url("../images/a.jpg");
    align-content: center;
}
#questions{
    
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 3.5;
}
.options{
    text-align: center;
    color: cornsilk;
}