h1{
    margin-top: 20px;
    font-family: 'Limelight', cursive;
    text-decoration: whitesmoke;
    text-align: center;
    font-size: 45px;
}
h2 {
    text-align: center;
}
body{
    background-image: url("../images/a.jpg");
    align-content: center;
}
#questions{
    text-align: center;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 2;
}
.options{
    text-align: center;
    color:black;
}